
table {

  background-color: #191919;
	font-size: large;
	color: white;
	align-items: center;
}

table td, th {
  border-width: 2px;
  border-style: solid;
  padding: 15px;
 
}

table thead {
  background-color: #DFA478;
}


td{border-color:black;border-style:solid;border-width:3px;font-family:Arial, sans-serif;
  overflow:hidden;padding:10px 5px;word-break:normal;}
th{border-color:black;border-style:solid;border-width:3px;font-family:Arial, sans-serif;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
